<footer class="site-footer h-card">
  <data class="u-url" href="/sabrelake.com/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">sabrelake.com</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>.</p>
      </div>

      <div class="footer-col footer-col-2">
        <p>
          {{ page.companyinfo }}
        </p>

      /div>
      <div class="footer-col footer-col-3">
        <p>..</p>
      </div>
        
    </div>

  </div>

</footer>
