---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

header {
  display: none;  
}
  
h1 {
    font-weight: 800;
    text-align: center;
    font-variant: small-caps;
    font-size: xxx-large;
    margin: 4em;
    color: #1f3864;
}


h4 {
    text-align: center;
    font-size: x-large;
    margin: 4em;
    color: #1f3864;
}
